@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");


/* Colors */
:root {
    --navbar-white: #fafafa;
    --navbar-black: #131313;
    --navbar-active-color: #fafafa;
    --navbar-bg-active-color: #ff9900;
    --bg-light-blue: #00c6ff;
    --bg-dark-blue: #0072ff;
}

img {
  width: 80%;
  height: 80%;
  margin: auto;
  display: block;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
}